body {
	background-color: #1F1F21;
	padding-top: 46px;
}

p, h1, h2, h3, h4, h5 {
	color: white;
}

a {
	color: #FFCC00;
}
		
.circle {
    width: 200px;
    height: 200px;
	border-color: black;
	border-width: 5px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #FFF;
}

.circle-center {
	padding-top: 60px;
}

/* == Bootstrap Related == */
/* Carousel */
.carousel {
	height: 400px;
}
.carousel-caption {
	z-index: 10;
}

.carousel .item {
	height: 400px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.carousel-inner > .item > .carousel-image {
    width: 100%;
    height: 500px; 
    text-align: center;
    align: center;
}

#csl-item1 {
    background:url(/imgs/medals_01.jpg); 
    background-repeat: no-repeat;   
    background-position: top center; 
}

#csl-item2 {
    background:url(/imgs/medals_05.jpg); 
    background-repeat: no-repeat;   
    background-position: top center; 
}